/* Button Styling */
.go-to-main-btn {
  background-color: #2f1c6b;
  color: white;
  padding: 15px 30px;
  font-size: 1.2em;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.go-to-main-btn:hover {
  background-color: #5125d2;  /* Darker shade on hover */
}
