* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v18_15 {
  width: 100%;
  height: 5381px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v18_25 {
  width: 222px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5286px;
  left: 609px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v24_66 {
  width: 670px;
  height: 375px;
  background: url("../images/v24_66.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3745px;
  left: 31px;
  overflow: hidden;
}
.v24_68 {
  width: 675px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3753px;
  left: 720px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v24_80 {
  width: 653px;
  height: 441px;
  background: url("../images/v24_80.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4696px;
  left: 52px;
  overflow: hidden;
}
.v24_74 {
  width: 675px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4215px;
  left: 731px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v24_77 {
  width: 668px;
  height: 435px;
  background: url("../images/v24_77.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4197px;
  left: 37px;
  overflow: hidden;
}
.v24_82 {
  width: 675px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4694px;
  left: 731px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v18_30 {
  width: 651px;
  height: 333px;
  background: url("../images/v18_30.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3317px;
  left: 36px;
  overflow: hidden;
}
.v18_24 {
  width: 675px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3317px;
  left: 731px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v18_29 {
  width: 645px;
  height: 275px;
  background: url("../images/v18_29.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2961px;
  left: 36px;
  overflow: hidden;
}
.v18_17 {
  width: 658px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2961px;
  left: 715px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v18_27 {
  width: 645px;
  height: 328px;
  background: url("../images/v18_27.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2561px;
  left: 36px;
  overflow: hidden;
}
.v18_28 {
  width: 666px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2561px;
  left: 720px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v18_40 {
  width: 646px;
  height: 336px;
  background: url("../images/v18_40.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2140px;
  left: 35px;
  overflow: hidden;
}
.v18_23 {
  width: 691px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2160px;
  left: 715px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v18_21 {
  width: 642px;
  height: 378px;
  background: url("../images/v18_21.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1717px;
  left: 35px;
  overflow: hidden;
}
.v18_22 {
  width: 686px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1717px;
  left: 720px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v18_31 {
  width: 645px;
  height: 340px;
  background: url("../images/v18_31.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1321px;
  left: 32px;
  overflow: hidden;
}
.v18_26 {
  width: 680px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1321px;
  left: 706px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v18_20 {
  width: 642px;
  height: 361px;
  background: url("../images/v18_20.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 904px;
  left: 37px;
  overflow: hidden;
}
.v18_16 {
  width: 680px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 904px;
  left: 706px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v18_33 {
  width: 950px;
  height: 253px;
  background: url("../images/v18_33.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 594px;
  left: 245px;
  overflow: hidden;
}
.v18_37 {
  width: 100%;
  height: 573px;
  background: url("../images/v18_37.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v18_19 {
  width: 405px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 233px;
  left: 530px;
  font-family: Inter;
  font-weight: Black;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
